/********** GLOBAL STYLES **********/

/********** COLORS **********/

$aqua-color: #2EC4B6;
$mandarin-color: #FF9F1C;
$grapefruit-color: #FF4040;
$night-theme-color: #0A1014;
$grey-color: #1B2329;
$fog-color: #353F4C;
$light-fog-color: #353F4C;
$milk-color: #fff;

/********** FONTS **********/

$font-light-fog: #353F4C;
$font-milk: #fff;