@import "../../globalStyles/variables";

.container {
  height: 100%;
  background-color: $night-theme-color;
  @media (max-width: $breakpoint-tablet) {
    height: 100%;
  }

  .movie__list {
    color: $font-milk;
    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;
    }
    @media (max-width: $breakpoint-laptop) {
      flex-direction: column;
    }
    .movie__container {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: $night-theme-color;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 12px;
      @media (max-width: $breakpoint-tablet) {
        flex-direction: column;
      }
    }
  }

    .background__image {
      height: 100vh;
      background-color: $night-theme-color;
      background-image: url("../../../public/illustrations/illustration-empty-state.png");
      background-position: center;
      margin: 0 auto;
      background-repeat: no-repeat;
      @media (max-width: $breakpoint-laptop) {
        background-image: url("../../../public/illustrations/illustration-empty-state.png");
        height: 100vh;
      }
    }

    .image__text {
      margin-top: -350px;
      h3 {
        color: $font-milk;
        text-align: center;
      }
      p {
        color: $font-light-fog;
        text-align: center;
        font-weight: 400;
        margin-top: 10px;
      }
    }
  }

.movies__error {
  h6 {
    color: transparent;
  }
}
